<h2>Conectarse</h2>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :clave %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :recordarme %></div>
  <% end -%>

  <div><%= f.submit "Entrar" %></div>
<% end %>

<%= render :partial => "active_admin/devise/shared/links" %>
