<% if @help_comment %>
  <div>
    <%= raw @help_comment.body.split("<br>")[0] %>
    <br>
    <br>
    <%= raw @help_comment.body.split("<h3>" + action_name + "</h3>")[1].split("<br>")[0]%>
    <%= link_to "Leer mas...", admin_topic_path(@help_topic)%>
    <%= link_to "editar", "/admin/active_admin_comments/#{@help_comment.id}/edit"%>
  </div>
<% else %>
  No hay ayuda creada, has click
  <%= link_to "aquí", {:controller=> :topics, :action=>:new, :forum_id => Forum.first.id, :name=>controller_name} %>
  para crearla.
<% end %>
