
<b>Version actual:</b> <%= @versions.length %>
<br>
<b>Fecha:</b>
<%= @versions.last.created_at%>
<br>
<b>Usuario</b>: <%= link_to AdminUser.find(@versions.last.whodunnit).email, admin_admin_user_path(AdminUser.find(@versions.last.whodunnit)) %>
<br>

<br>


<% if @versions.length.to_i > 1 %>
  <% if params[:version].to_i > 1 || !params[:version] %>
    <%= link_to "Ver version anterior", {:version => (params[:version] || @versions.length).to_i - 1}%>
    <br>
  <% end %>
  <% if params[:version] %>
    <h3>Esta viendo la version <%= "#{params[:version]}"%></h3>

    <b>Fecha:</b>
    <%= @versions[(params[:version].to_i - 1)].created_at %>
    <br>
    <b>Usuario</b>:
    <%= link_to AdminUser.find(@versions[(params[:version].to_i - 1)].whodunnit).email, admin_admin_user_path(AdminUser.find(@versions[(params[:version].to_i - 1)].whodunnit)) %>
    <br>
    <br>

    <%= link_to "Ver version actual"%>
    <br>
  <% end %>
  <%= link_to "Ver registro de cambios completos", {:action => :history} %>
<% end %>
